html, body {
	min-height: 100%;
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

.parent {
	height:200px;
	width: 50%;
	display: grid;
	grid-template-columns: 200px 100%;
	margin: 100px;
	background-color: rgba(200,200,200,0.5);
}

.main-image img{
	height: 200px;
	width:200px;
}

.avatar {
	border-radius: 50%;
	width: 100%;
	height: 100%;
}

.main-content {
	display: grid;
	width: 400px;
	margin-left: 25px;
}

.author {
	margin: 0;
}

.date {
	margin: 0;
	font-style: italic;
}

.main-body {

}

.main-body a{
	text-decoration: none;
	text-decoration-color: blue;
}

.icons {
	height: 25px;
	text-decoration: none;
}

.icons img {
	height: 25px;
	width: 25px;
}